@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

:root {
  /* Fonts  */
  --fsg: 135px; /* Time and Greetings */
  --fsm: 75px; /* Date */
  --fss: 25px; /* Greetings and Weather widger */
  --fses: 16px; /* Links List */

  /* Light theme  */
  --accent: #4b8ec4; /* Hover color */
  --bg: #f5f5f5; /* Background color */
  --sbg: #e4e6e6; /* Cards color */
  --fg: #3a3a3a; /* Foreground color */
  --sfg: #3a3a3a; /* Sceondary Foreground color */
  --blu: #02131b;

  /* Image background  */

  /* Uncoment this section to get the 
    image wallpaper. You can also 
    change the --imgcol value 
    to make the filter to your own */

  /* --imgbg: url(/img/wal.jpg); */
  --imgcol: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ); /* Filter color */
}

/* Dark theme  */
.darktheme {
  --accent: #4b8ec4; /* Hover color */
  --bg: #19171a; /* Background color */
  --sbg: #201e21; /* Cards color */
  --fg: #d8dee9; /* Foreground color */
  --sfg: #3a3a3a; /* Secondary Foreground color */
  --cyp: #e40881;
  --imgcol: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ); /* Filter color */
}


*{

    box-sizing: border-box;
    font-family:  Tomorrow, sans-serif;
    transition: 0.2s ease-in-out;
    color: #f5f5f5;
}

  
body {
    background-color: var(--blu);
    background-image: var(--imgcol), var(--imgbg);
}
nav{
  background-color: #3c372a;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    font-weight: 900;
    letter-spacing: 4px;
}

.pwn_box{
  border: 1px solid #e40881;
  text-align: left;
  padding: 0px 10px 0px 10px !important;
  color: #ffff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pwn> h5{
  color: #e40881;
  font-weight: 900;
  letter-spacing: 3px;
}
.pwn > h2 > i{
  color: #e40881;
}

.rev > h5 {
  color: red;
  font-weight: 900;
  letter-spacing: 3px;
}
.rev > h2 > i {
  color: red;
}




.rev_box{
  border: 1px solid red;
  text-align: left;
  padding: 20px 10px 20px 10px !important;
  color: #ffff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card .card-image .card-title {
  color: #02131b;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}




.card .card-action {
  background-color: #02131bed;
  border-top: 1px solid rgba(160,160,160,0.2);
  position: relative;
  padding: 16px 24px;
  text-align: center;
}